### Required outputs for PyBank Activity
* The total number of months included in the dataset.
* The net total amount of Profit/Losses over the entire period.
* The average of the changes in Profit/Losses over the entire period.
* The greatest increase in profits (date and amount) over the entire period.
* The greatest decrease in losses (date and amount) over the entire period.

In [1]:
#import dependancies
import pandas as pd
import numpy as np

In [48]:
budget_data = pd.read_csv('budget_data.csv', parse_dates=True, index_col='Date')

In [49]:
budget_data.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [51]:
#Find total number of months included in the dataset

oldest = budget_data.index.min() # Earliest date
newest = budget_data.index.max() # Latest date

number_of_months = ((newest - oldest)/np.timedelta64(1, 'M'))
number_of_months

85.0284400090351

In [52]:
# Find the total P&L

Total_profit = budget_data['Profit/Losses'].sum()
Total_profit

38382578

In [53]:
#The average of the changes in Profit/Losses over the entire period.

pct_change = budget_data.pct_change()
mean_change = pct_change.mean()

mean_change

Profit/Losses   -0.286711
dtype: float64

In [59]:
# The greatest increase and decrease in profits (date and amount) over the entire period.

greatest_profit = budget_data['Profit/Losses'].max()

greatest_loss = budget_data['Profit/Losses'].min()


max_info = budget_data.loc[budget_data['Profit/Losses'] == greatest_profit].iloc[0]
min_info = budget_data.loc[budget_data['Profit/Losses'] == greatest_loss,].iloc[0]

In [60]:
max_info

Profit/Losses    1170593
Name: 2012-02-01 00:00:00, dtype: int64

In [61]:
min_info

Profit/Losses   -1196225
Name: 2013-09-01 00:00:00, dtype: int64

In [66]:
#Printout

print(f'Financial Analysis')
print(f'------------------------------')
print(f'Total Months: {number_of_months}')
print(f'Total Profit or loss: {Total_profit}')
print(f'Greatest increase in profits')
print(f'------------------------------')
print(f'{max_info}')
print(f' ')
print(f'Greatest loss')
print(f'------------------------------')
print(f'{min_info}')

Financial Analysis
------------------------------
Total Months: 85.0284400090351
Total Profit or loss: 38382578
Greatest increase in profits
------------------------------
Profit/Losses    1170593
Name: 2012-02-01 00:00:00, dtype: int64

Greatest loss
------------------------------
Profit/Losses   -1196225
Name: 2013-09-01 00:00:00, dtype: int64